@model PageViewModel<EPiBootstrapArea.SampleWeb.Models.Pages.StartPage>

<div class="row">
    <hr />
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
</div>

<div class="row">
    <hr />
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { rowsupport = true}):</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { rowsupport = true, rowcssclass = "special-row" })
</div>


<div class="row">
    <hr />
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "test-class", ChildrenCssClass = "test-child-class" })</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "test-class", ChildrenCssClass = "test-child-class" })
</div>