@model PageViewModel<StartPage>

<div class="row">
    <h3>Simple Rendering</h3>
    <hr />
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
</div>
