@model PageViewModel<StartPage>

<div class="row">
    <h3>Simple Rendering</h3>
    <hr />
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
    <hr />
    <h3>1/2 Half Rendering</h3>
    <div>Html.PropertyFor(x => x.CurrentPage.OneHalfContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.OneHalfContentArea)
</div>
